/* (A) GLOBAL */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  padding: 0; margin: 0;
}

/* (B) SIDEBAR */
/* (B1) SIDEBAR ITSELF */
#pgside {
  width: 200px;
  transition: width 0.2s;
  background: #283039;
}

/* (B2) USER OR BRANDING */
#pgside #pguser {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}
#pgside #pguser img {
  width: 100%;
  margin-right: 5px;
  border-radius: 30%
}

/* (B3) SIDEBAR ITEMS */
#pgside, #pgside a { color: #fff; }
#pgside a {
  display: block;
  padding: 20px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}
#pgside a.current { background: #179eed; }
#pgside a:hover { background: #0e557d; }

/* (B4) SIDEBAR ICONS & TEXT */
#pgside i.ico, #pgside i.txt { font-style: normal; }
#pgside i.ico {
  font-size: 1.1em;
  margin-right: 10px;
}

/* (B5) SMALL SCREEN TRANSFORMATION */
@media screen and (max-width:768px) {
  #pgside { width: 70px; }
  #pgside #pguser { justify-content: center; }
  #pgside a {
    text-align: center;
    padding: 20px 0;
  }
  #pgside i.ico {
    font-size: 1.5em;
    margin-right: 0;
  }
  #pgside i.txt { display: none; }
}

/* (C) MAIN CONTENTS */
#pgmain {
  flex-grow: 1;
  padding: 20px;
  background: #f2f2f2;
}

table.zebra {
  width: 100%;
  border-collapse: collapse;
}
table.zebra tr:nth-child(odd) { background: #f2f2f2; }
table.zebra td { padding: 10px; }

/* (B) ZEBRA LIST */
ul.zebra, ol.zebra {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.zebra li, ol.zebra li { padding: 10px; }
ul.zebra li:nth-child(odd), ol.zebra li:nth-child(odd) { background: #f2f2f2; }

/* (A) FORM */
.form {
  max-width: 600px; /* optional */
  border: 1px solid #eee;
  background: #f2f2f2;
}

/* (B) FIELDS & LABELS */
.form textarea, .form select, .form button {
  display: block;
  width: 100%;
}
/*.form label { padding: 10px 0; }*/
.form input, .form textarea, .form select { padding: 10px; }

/* (C) BUTTONS */
input[type=button], input[type=submit], button {
  font-size: 1em;
  font-weight: 700;
  padding: 10px;
  border: 0;
  color: #fff;
  background: #179eed;
  cursor: pointer;
}
input[type=submit] { 
  display: block;
  margin-top: 20px;
  width: 100%;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input[type=checkbox]  {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}
/********************************************************************************* */
/*LANGUAGE*/
/********************************************************************************* */
.en, .de, .it, .cs { display:none; } /* hide all elements with a language class */
.en:lang(en), .de:lang(de), .it:lang(it), .cs:lang(cs) { display:block; }
/********************************************************************************* */
/********************************************************************************* */
/*STYLED TABLE*/
/********************************************************************************* */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #179eed;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #179eed;
}
tr:hover {background-color: azure;}
/********************************************************************************* */
/*BTN group*/
/********************************************************************************* */
.btn-group button {
  background-color: #179eed; /* Green background */
  border: 1px solid #0f6699; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #126ea4;
}
/********************************************************************************* */
/*TABS*/
/********************************************************************************* */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #21a1eb;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #0e557d;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #0e557d;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}